@page "/login"
@using Microsoft.AspNetCore.WebUtilities
@inject IAuthServices authService
@inject NavigationManager NavigationManager
@inject ILocalStorageServices LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Login</PageTitle>

<div class="login-container">
    <div class="col">
        <div class="login-background">
            <div class="login-text-content">
                <img src="/login-background.png" />
                <div class="text-content">
                    
                </div>
                <div class="text-content">
                    Let us bring you the best experiences!
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="login-form">
            <div class="center-form">
                <div class="mb-3 login-title">
                    <img class="login-title-avatar" src="app-logo.PNG" />
                    <span class="login-title-text">Welcome to DTH Application</span>
                </div>
                <EditForm Model="user" OnValidSubmit="HandleLogin">
                    <DataAnnotationsValidator />
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text">
                            <i class="oi oi-person"></i>
                        </span>
                        <InputText id="email" @bind-Value="user.UserName" class="form-control" />
                        <ValidationMessage For="@(() => user.UserName)" />
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <span class="input-group-text">
                            <i class="oi oi-key"></i>
                        </span>
                        <InputText id="password" @bind-Value="user.Password" class="form-control" type="password" />
                        <ValidationMessage For="@(() => user.Password)" />
                    </div>
                    <div class="mb-3 text-danger">
                        <span>@ErrorMessage</span>
                    </div>
                    <div class="input-group flex-nowrap mb-3">
                        <div class="login-action">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="form-check-label" for="flexCheckChecked">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="login-forgot">
                            <a href="#">Forgot Password</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="width: 100%">Login</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    private string ErrorMessage { get; set; } = string.Empty;
    private UserLogin user = new UserLogin();

    private async Task HandleLogin() {
        var results = await authService.LoginAsync(user);
        if (results.IsSuccess) {
            ErrorMessage = string.Empty;
            await LocalStorage.SetItem("authToken", results.Result);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
        } else {
            ErrorMessage = results.Message;
        }
    }
}
